body {
    text-align: center;

}

ul {
    font-size: 15px;
    padding-right: 40px;

}

div {
    font-size: 15px;
    display: inline-block;
    padding: 5px;
    border: 2px solid #000000;
    border-radius: 10px;
}

span {
    font-size: 15px;
    display: inline-block;
    padding: 20px;
}